/googleOauth/passport_google_oauth2.0/implementation/.env
/razorpay-integration/implementation/.env
/stripe-integration/implementation/.env


/googleOauth/passport_google_oauth2.0/implementation/node_modules
/razorpay-integration/implementation/node_modules
/nats-server/implementation/nats-publisher/node_modules
/nats-server/implementation/nats-subscriber/node_modules
/stripe-integration/implementation/node_modules
/graphQL/implementation/node_modules
