<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Canceled</title>
  <link rel="stylesheet" href="cancel.css">
</head>

<body>
  <section class="cancel-container">
    <div class="cancel-content">
      <h1 class="cancel-title">Oops! Payment Canceled</h1>
      <p class="cancel-message">We're sorry, but your payment was not completed. If you have any issues, please contact
        us.</p>
      <div class="cancel-image">
        <img src="https://t4.ftcdn.net/jpg/00/97/60/25/360_F_97602514_zzXPWSOVVSd8Mcqxme9lWviGltDIRpMH.jpg"
          alt="Cancel Image" />
      </div>
      <div class="cta-buttons">
        <button class="btn-home">Return to Homepage</button>

      </div>
    </div>
  </section>
</body>

</html>